absl-py==0.9.0
anytree==2.8.0
astor==0.8.1
cachetools==4.2.4
colorama==0.4.5
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
future==1.0.0
gast==0.2.2
google-pasta==0.2.0
grpcio==1.27.2
h5py==2.10.0
imageio==2.8.0
importlib-metadata==4.8.3
johnnydep==1.20.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.2.1
matplotlib==3.2.1
networkx==2.4
numpy==1.18.3
opencv-contrib-python==4.10.0.82
opencv-python==4.10.0.82
opt-einsum==3.3.0
ordered-set==3.1.1
oyaml==1.0
packaging==21.3
Pillow==7.0.0
pipdeptree==2.2.1
protobuf==3.11.3
pybind11==2.4.3
pygame==1.9.6
PyOpenGL==3.1.5
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
structlog==21.5.0
tabulate==0.8.10
tb-nightly==1.14.0a20190603
tensorboard==1.15.0
tensorflow-estimator==1.15.1
tensorflow-gpu==1.15.0
termcolor==1.1.0
tf-estimator-nightly==1.14.0.dev2019060501
toml==0.10.2
torch==1.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.43.0
typing_extensions==4.1.1
Werkzeug==1.0.0
wimpy==0.6
wrapt==1.12.1
yacs==0.1.6
zipfile38==0.0.3
zipp==3.6.0
